{
  "openapi": "3.1.0",
  "info": {
    "title": "OverFast API",
    "description": "OverFast API provides comprehensive data on Overwatch heroes,\ngame modes, maps, and player statistics by scraping Blizzard pages. Built with\n**FastAPI** and **Selectolax**, it uses **PostgreSQL** for\npersistent storage, **Stale-While-Revalidate caching** via **Valkey** and **nginx\n(OpenResty)**, **taskiq** background workers, and **TCP Slow Start + AIMD throttling**\nfor Blizzard requests.\n\nThis live instance is configured with the following restrictions:\n- Rate Limit per IP: **30 requests/second** (burst capacity :\n**5**)\n- Maximum connections/simultaneous requests per IP: **10**\n- Adaptive Blizzard throttle: **2.0s** initial delay\n  (TCP Slow Start + AIMD; 503 returned when rate-limited)\n\nThis limit may be adjusted as needed. If you require higher throughput, consider\nhosting your own instance on a server 👍\n\nSwagger UI (useful for trying API calls) : https://overfast-api.tekrop.fr/docs\n\nStatus page : https://uptime-overfast-api.tekrop.fr/\n",
    "contact": {
      "name": "Valentin \"TeKrop\" PORCHET",
      "url": "https://github.com/TeKrop/overfast-api",
      "email": "valentin.porchet@proton.me"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/TeKrop/overfast-api/blob/main/LICENSE"
    },
    "version": "4.4.0",
    "x-logo": {
      "url": "/static/logo_light.png",
      "altText": "OverFast API Logo"
    }
  },
  "servers": [
    {
      "url": "https://overfast-api.tekrop.fr",
      "description": "Production server"
    }
  ],
  "paths": {
    "/heroes": {
      "get": {
        "tags": ["🦸 Heroes"],
        "summary": "Get a list of heroes",
        "description": "Get a list of Overwatch heroes, which can be filtered using roles, subroles or gamemodes. <br />**Cache TTL : 1 day.**",
        "operationId": "list_heroes",
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/Role" },
                { "$ref": "#/components/schemas/SubRole" },
                { "type": "null" }
              ],
              "title": "Role filter"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Locale",
              "title": "Locale to be displayed",
              "default": "en-us"
            }
          },
          {
            "name": "gamemode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/HeroGamemode" },
                { "type": "null" }
              ],
              "title": "Gamemode filter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/HeroShort" },
                  "title": "Response List Heroes"
                }
              }
            },
            "headers": {
              "X-Cache-TTL": {
                "description": "The TTL value for the cached response, in seconds",
                "schema": { "type": "string", "example": "600" }
              },
              "Age": {
                "description": "Number of seconds since the response payload was generated (RFC 7234 §5.1). Present on FastAPI-served responses; also set by nginx for Valkey cache hits.",
                "schema": { "type": "string", "example": "42" }
              },
              "Cache-Control": {
                "description": "Standard caching directives (RFC 7234 + RFC 5861). ``max-age`` reflects the staleness threshold in seconds. ``stale-while-revalidate`` is present when a background refresh is in-flight, indicating how long stale data may still be served.",
                "schema": {
                  "type": "string",
                  "example": "public, max-age=86400, stale-while-revalidate=60"
                }
              },
              "X-Cache-Status": {
                "description": "Indicates whether the response was served from a fresh cache entry (``hit``) or a stale one while a background refresh is in-flight (``stale``).",
                "schema": {
                  "type": "string",
                  "enum": ["hit", "stale"],
                  "example": "hit"
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "1" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrorMessage"
                }
              }
            }
          },
          "503": {
            "description": "Blizzard Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "5" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardRateLimitErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorMessage"
                }
              }
            }
          },
          "504": {
            "description": "Blizzard Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/heroes/stats": {
      "get": {
        "tags": ["🦸 Heroes"],
        "summary": "Get hero stats",
        "description": "Get hero statistics usage, filtered by platform, region, role, etc.Only Role Queue gamemodes are concerned.<br />**Cache TTL : 1 hour.**",
        "operationId": "get_hero_stats",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PlayerPlatform",
              "title": "Player platform filter",
              "examples": ["pc"]
            }
          },
          {
            "name": "gamemode",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PlayerGamemode",
              "title": "Gamemode",
              "description": "Filter on a specific gamemode.",
              "examples": ["competitive"]
            },
            "description": "Filter on a specific gamemode."
          },
          {
            "name": "region",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PlayerRegion",
              "title": "Region",
              "description": "Filter on a specific player region.",
              "examples": ["europe"]
            },
            "description": "Filter on a specific player region."
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/Role" },
                { "type": "null" }
              ],
              "title": "Role filter",
              "examples": ["support"]
            }
          },
          {
            "name": "map",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/MapKey" },
                { "type": "null" }
              ],
              "title": "Map key filter",
              "examples": ["hanaoka"]
            }
          },
          {
            "name": "competitive_division",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/CompetitiveDivisionFilter" },
                { "type": "null" }
              ],
              "title": "Competitive division filter",
              "examples": ["diamond"]
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(hero|winrate|pickrate):(asc|desc)$",
              "title": "Ordering field and the way it's arranged (asc[ending]/desc[ending])",
              "default": "hero:asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/HeroStatsSummary" },
                  "title": "Response Get Hero Stats"
                }
              }
            },
            "headers": {
              "X-Cache-TTL": {
                "description": "The TTL value for the cached response, in seconds",
                "schema": { "type": "string", "example": "600" }
              },
              "Age": {
                "description": "Number of seconds since the response payload was generated (RFC 7234 §5.1). Present on FastAPI-served responses; also set by nginx for Valkey cache hits.",
                "schema": { "type": "string", "example": "42" }
              },
              "Cache-Control": {
                "description": "Standard caching directives (RFC 7234 + RFC 5861). ``max-age`` reflects the staleness threshold in seconds. ``stale-while-revalidate`` is present when a background refresh is in-flight, indicating how long stale data may still be served.",
                "schema": {
                  "type": "string",
                  "example": "public, max-age=86400, stale-while-revalidate=60"
                }
              },
              "X-Cache-Status": {
                "description": "Indicates whether the response was served from a fresh cache entry (``hit``) or a stale one while a background refresh is in-flight (``stale``).",
                "schema": {
                  "type": "string",
                  "enum": ["hit", "stale"],
                  "example": "hit"
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "1" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrorMessage"
                }
              }
            }
          },
          "503": {
            "description": "Blizzard Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "5" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardRateLimitErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorMessage"
                }
              }
            }
          },
          "504": {
            "description": "Blizzard Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardErrorMessage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "x-badges": [{ "name": "NEW", "color": "#ff9c00" }]
      }
    },
    "/heroes/{hero_key}": {
      "get": {
        "tags": ["🦸 Heroes"],
        "summary": "Get hero data",
        "description": "Get data about an Overwatch hero : description, abilities, stadium powers, story, etc. <br />**Cache TTL : 1 day.**",
        "operationId": "get_hero",
        "parameters": [
          {
            "name": "hero_key",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/HeroKey",
              "title": "Key name of the hero"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Locale",
              "title": "Locale to be displayed",
              "default": "en-us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Hero" }
              }
            },
            "headers": {
              "X-Cache-TTL": {
                "description": "The TTL value for the cached response, in seconds",
                "schema": { "type": "string", "example": "600" }
              },
              "Age": {
                "description": "Number of seconds since the response payload was generated (RFC 7234 §5.1). Present on FastAPI-served responses; also set by nginx for Valkey cache hits.",
                "schema": { "type": "string", "example": "42" }
              },
              "Cache-Control": {
                "description": "Standard caching directives (RFC 7234 + RFC 5861). ``max-age`` reflects the staleness threshold in seconds. ``stale-while-revalidate`` is present when a background refresh is in-flight, indicating how long stale data may still be served.",
                "schema": {
                  "type": "string",
                  "example": "public, max-age=86400, stale-while-revalidate=60"
                }
              },
              "X-Cache-Status": {
                "description": "Indicates whether the response was served from a fresh cache entry (``hit``) or a stale one while a background refresh is in-flight (``stale``).",
                "schema": {
                  "type": "string",
                  "enum": ["hit", "stale"],
                  "example": "hit"
                }
              }
            }
          },
          "404": {
            "description": "Hero Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeroParserErrorMessage"
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "1" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrorMessage"
                }
              }
            }
          },
          "503": {
            "description": "Blizzard Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "5" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardRateLimitErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorMessage"
                }
              }
            }
          },
          "504": {
            "description": "Blizzard Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/roles": {
      "get": {
        "tags": ["🦸 Heroes"],
        "summary": "Get a list of roles",
        "description": "Get a list of available Overwatch roles.<br />**Cache TTL : 1 day.**",
        "operationId": "list_roles",
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Locale",
              "title": "Locale to be displayed",
              "default": "en-us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/RoleDetail" },
                  "title": "Response List Roles"
                }
              }
            },
            "headers": {
              "X-Cache-TTL": {
                "description": "The TTL value for the cached response, in seconds",
                "schema": { "type": "string", "example": "600" }
              },
              "Age": {
                "description": "Number of seconds since the response payload was generated (RFC 7234 §5.1). Present on FastAPI-served responses; also set by nginx for Valkey cache hits.",
                "schema": { "type": "string", "example": "42" }
              },
              "Cache-Control": {
                "description": "Standard caching directives (RFC 7234 + RFC 5861). ``max-age`` reflects the staleness threshold in seconds. ``stale-while-revalidate`` is present when a background refresh is in-flight, indicating how long stale data may still be served.",
                "schema": {
                  "type": "string",
                  "example": "public, max-age=86400, stale-while-revalidate=60"
                }
              },
              "X-Cache-Status": {
                "description": "Indicates whether the response was served from a fresh cache entry (``hit``) or a stale one while a background refresh is in-flight (``stale``).",
                "schema": {
                  "type": "string",
                  "enum": ["hit", "stale"],
                  "example": "hit"
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "1" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrorMessage"
                }
              }
            }
          },
          "503": {
            "description": "Blizzard Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "5" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardRateLimitErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorMessage"
                }
              }
            }
          },
          "504": {
            "description": "Blizzard Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/gamemodes": {
      "get": {
        "tags": ["🎲 Gamemodes"],
        "summary": "Get a list of gamemodes",
        "description": "Get a list of Overwatch gamemodes : Assault, Escort, Flashpoint, Hybrid, etc.<br />**Cache TTL : 1 day.**",
        "operationId": "list_map_gamemodes",
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {
              "X-Cache-TTL": {
                "description": "The TTL value for the cached response, in seconds",
                "schema": { "type": "string", "example": "600" }
              },
              "Age": {
                "description": "Number of seconds since the response payload was generated (RFC 7234 §5.1). Present on FastAPI-served responses; also set by nginx for Valkey cache hits.",
                "schema": { "type": "string", "example": "42" }
              },
              "Cache-Control": {
                "description": "Standard caching directives (RFC 7234 + RFC 5861). ``max-age`` reflects the staleness threshold in seconds. ``stale-while-revalidate`` is present when a background refresh is in-flight, indicating how long stale data may still be served.",
                "schema": {
                  "type": "string",
                  "example": "public, max-age=86400, stale-while-revalidate=60"
                }
              },
              "X-Cache-Status": {
                "description": "Indicates whether the response was served from a fresh cache entry (``hit``) or a stale one while a background refresh is in-flight (``stale``).",
                "schema": {
                  "type": "string",
                  "enum": ["hit", "stale"],
                  "example": "hit"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "items": { "$ref": "#/components/schemas/GamemodeDetails" },
                  "type": "array",
                  "title": "Response List Map Gamemodes"
                }
              }
            }
          }
        }
      }
    },
    "/maps": {
      "get": {
        "tags": ["🗺️ Maps"],
        "summary": "Get a list of maps",
        "description": "Get a list of Overwatch maps : Hanamura, King's Row, Dorado, etc.<br />**Cache TTL : 1 day.**",
        "operationId": "list_maps",
        "parameters": [
          {
            "name": "gamemode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/MapGamemode" },
                { "type": "null" }
              ],
              "title": "Gamemode filter",
              "description": "Filter maps available for a specific gamemode"
            },
            "description": "Filter maps available for a specific gamemode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Map" },
                  "title": "Response List Maps"
                }
              }
            },
            "headers": {
              "X-Cache-TTL": {
                "description": "The TTL value for the cached response, in seconds",
                "schema": { "type": "string", "example": "600" }
              },
              "Age": {
                "description": "Number of seconds since the response payload was generated (RFC 7234 §5.1). Present on FastAPI-served responses; also set by nginx for Valkey cache hits.",
                "schema": { "type": "string", "example": "42" }
              },
              "Cache-Control": {
                "description": "Standard caching directives (RFC 7234 + RFC 5861). ``max-age`` reflects the staleness threshold in seconds. ``stale-while-revalidate`` is present when a background refresh is in-flight, indicating how long stale data may still be served.",
                "schema": {
                  "type": "string",
                  "example": "public, max-age=86400, stale-while-revalidate=60"
                }
              },
              "X-Cache-Status": {
                "description": "Indicates whether the response was served from a fresh cache entry (``hit``) or a stale one while a background refresh is in-flight (``stale``).",
                "schema": {
                  "type": "string",
                  "enum": ["hit", "stale"],
                  "example": "hit"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/players": {
      "get": {
        "tags": ["🎮 Players"],
        "summary": "Search for a specific player",
        "description": "Search for a given player by using its username or BattleTag (with # replaced by -). <br />You should be able to find the associated player_id to use in order to request career data.<br />**Cache TTL : 10 minutes.**",
        "operationId": "search_players",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player nickname or BattleTag to search",
              "examples": ["TeKrop", "TeKrop-2217"]
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(player_id|name|last_updated_at):(asc|desc)$",
              "title": "Ordering field and the way it's arranged (asc[ending]/desc[ending])",
              "default": "name:asc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "title": "Offset of the results",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "title": "Limit of results per page",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PlayerSearchResult" }
              }
            },
            "headers": {
              "X-Cache-TTL": {
                "description": "The TTL value for the cached response, in seconds",
                "schema": { "type": "string", "example": "600" }
              },
              "Age": {
                "description": "Number of seconds since the response payload was generated (RFC 7234 §5.1). Present on FastAPI-served responses; also set by nginx for Valkey cache hits.",
                "schema": { "type": "string", "example": "42" }
              },
              "Cache-Control": {
                "description": "Standard caching directives (RFC 7234 + RFC 5861). ``max-age`` reflects the staleness threshold in seconds. ``stale-while-revalidate`` is present when a background refresh is in-flight, indicating how long stale data may still be served.",
                "schema": {
                  "type": "string",
                  "example": "public, max-age=86400, stale-while-revalidate=60"
                }
              },
              "X-Cache-Status": {
                "description": "Indicates whether the response was served from a fresh cache entry (``hit``) or a stale one while a background refresh is in-flight (``stale``).",
                "schema": {
                  "type": "string",
                  "enum": ["hit", "stale"],
                  "example": "hit"
                }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "1" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrorMessage"
                }
              }
            }
          },
          "503": {
            "description": "Blizzard Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "5" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardRateLimitErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorMessage"
                }
              }
            }
          },
          "504": {
            "description": "Blizzard Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/players/{player_id}/summary": {
      "get": {
        "tags": ["🎮 Players"],
        "summary": "Get player summary",
        "description": "Get player summary : name, avatar, competitive ranks, etc. <br />**Cache TTL : 10 minutes.**",
        "operationId": "get_player_summary",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player unique name",
              "description": "Identifier of the player : BattleTag (with \"#\" replaced by \"-\"). You can also put your username if you're the only one using it on Blizzard. Be careful, letter case (capital/non-capital letters) is important !",
              "examples": ["TeKrop-2217", "TeKrop"]
            },
            "description": "Identifier of the player : BattleTag (with \"#\" replaced by \"-\"). You can also put your username if you're the only one using it on Blizzard. Be careful, letter case (capital/non-capital letters) is important !"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PlayerSummary" }
              }
            },
            "headers": {
              "X-Cache-TTL": {
                "description": "The TTL value for the cached response, in seconds",
                "schema": { "type": "string", "example": "600" }
              },
              "Age": {
                "description": "Number of seconds since the response payload was generated (RFC 7234 §5.1). Present on FastAPI-served responses; also set by nginx for Valkey cache hits.",
                "schema": { "type": "string", "example": "42" }
              },
              "Cache-Control": {
                "description": "Standard caching directives (RFC 7234 + RFC 5861). ``max-age`` reflects the staleness threshold in seconds. ``stale-while-revalidate`` is present when a background refresh is in-flight, indicating how long stale data may still be served.",
                "schema": {
                  "type": "string",
                  "example": "public, max-age=86400, stale-while-revalidate=60"
                }
              },
              "X-Cache-Status": {
                "description": "Indicates whether the response was served from a fresh cache entry (``hit``) or a stale one while a background refresh is in-flight (``stale``).",
                "schema": {
                  "type": "string",
                  "enum": ["hit", "stale"],
                  "example": "hit"
                }
              }
            }
          },
          "404": {
            "description": "Player Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PlayerNotFoundError" }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "1" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrorMessage"
                }
              }
            }
          },
          "503": {
            "description": "Blizzard Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "5" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardRateLimitErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorMessage"
                }
              }
            }
          },
          "504": {
            "description": "Blizzard Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/players/{player_id}/stats/summary": {
      "get": {
        "tags": ["🎮 Players"],
        "summary": "Get player stats summary",
        "description": "Get player statistics summary, with stats usually used for tracking progress : winrate, kda, damage, healing, etc. <br /> Data is regrouped in 3 sections : general (sum of all stats), roles (sum of stats for each role) and heroes (stats for each hero).<br /> Depending on filters, data from both competitive and quickplay, and/or pc and console will be merged.<br />Default behaviour : all gamemodes and platforms are taken in account.<br />**Cache TTL : 10 minutes.**",
        "operationId": "get_player_stats_summary",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player unique name",
              "description": "Identifier of the player : BattleTag (with \"#\" replaced by \"-\"). You can also put your username if you're the only one using it on Blizzard. Be careful, letter case (capital/non-capital letters) is important !",
              "examples": ["TeKrop-2217", "TeKrop"]
            },
            "description": "Identifier of the player : BattleTag (with \"#\" replaced by \"-\"). You can also put your username if you're the only one using it on Blizzard. Be careful, letter case (capital/non-capital letters) is important !"
          },
          {
            "name": "gamemode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/PlayerGamemode" },
                { "type": "null" }
              ],
              "title": "Gamemode",
              "description": "Filter on a specific gamemode. If not specified, the data of every gamemode will be combined.",
              "examples": ["competitive"]
            },
            "description": "Filter on a specific gamemode. If not specified, the data of every gamemode will be combined."
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/PlayerPlatform" },
                { "type": "null" }
              ],
              "title": "Platform",
              "description": "Filter on a specific platform. If not specified, the data of every platform will be combined.",
              "examples": ["pc"]
            },
            "description": "Filter on a specific platform. If not specified, the data of every platform will be combined."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PlayerStatsSummary" }
              }
            },
            "headers": {
              "X-Cache-TTL": {
                "description": "The TTL value for the cached response, in seconds",
                "schema": { "type": "string", "example": "600" }
              },
              "Age": {
                "description": "Number of seconds since the response payload was generated (RFC 7234 §5.1). Present on FastAPI-served responses; also set by nginx for Valkey cache hits.",
                "schema": { "type": "string", "example": "42" }
              },
              "Cache-Control": {
                "description": "Standard caching directives (RFC 7234 + RFC 5861). ``max-age`` reflects the staleness threshold in seconds. ``stale-while-revalidate`` is present when a background refresh is in-flight, indicating how long stale data may still be served.",
                "schema": {
                  "type": "string",
                  "example": "public, max-age=86400, stale-while-revalidate=60"
                }
              },
              "X-Cache-Status": {
                "description": "Indicates whether the response was served from a fresh cache entry (``hit``) or a stale one while a background refresh is in-flight (``stale``).",
                "schema": {
                  "type": "string",
                  "enum": ["hit", "stale"],
                  "example": "hit"
                }
              }
            }
          },
          "404": {
            "description": "Player Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PlayerNotFoundError" }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "1" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrorMessage"
                }
              }
            }
          },
          "503": {
            "description": "Blizzard Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "5" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardRateLimitErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorMessage"
                }
              }
            }
          },
          "504": {
            "description": "Blizzard Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/players/{player_id}/stats/career": {
      "get": {
        "tags": ["🎮 Players"],
        "summary": "Get player career stats",
        "description": "Career contains numerous statistics grouped by heroes and categories (combat, game, best, hero specific, average, etc.). Filter them on specific platform and gamemode (mandatory). You can even retrieve data about a specific hero of your choice.<br />**Cache TTL : 10 minutes.**",
        "operationId": "get_player_career_stats",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player unique name",
              "description": "Identifier of the player : BattleTag (with \"#\" replaced by \"-\"). You can also put your username if you're the only one using it on Blizzard. Be careful, letter case (capital/non-capital letters) is important !",
              "examples": ["TeKrop-2217", "TeKrop"]
            },
            "description": "Identifier of the player : BattleTag (with \"#\" replaced by \"-\"). You can also put your username if you're the only one using it on Blizzard. Be careful, letter case (capital/non-capital letters) is important !"
          },
          {
            "name": "gamemode",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PlayerGamemode",
              "title": "Gamemode",
              "description": "Filter on a specific gamemode.",
              "examples": ["competitive"]
            },
            "description": "Filter on a specific gamemode."
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PlayerPlatform",
              "title": "Platform",
              "description": "Filter on a specific platform. If not specified, the only platform the player played on will be selected. If the player has already played on both PC and console, the PC stats will be displayed by default.",
              "examples": ["pc"]
            },
            "description": "Filter on a specific platform. If not specified, the only platform the player played on will be selected. If the player has already played on both PC and console, the PC stats will be displayed by default."
          },
          {
            "name": "hero",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/HeroKeyCareerFilter",
              "title": "Hero key",
              "description": "Filter on a specific hero in order to only get his statistics. You also can specify 'all-heroes' for general stats."
            },
            "description": "Filter on a specific hero in order to only get his statistics. You also can specify 'all-heroes' for general stats."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PlayerCareerStats" }
              }
            },
            "headers": {
              "X-Cache-TTL": {
                "description": "The TTL value for the cached response, in seconds",
                "schema": { "type": "string", "example": "600" }
              },
              "Age": {
                "description": "Number of seconds since the response payload was generated (RFC 7234 §5.1). Present on FastAPI-served responses; also set by nginx for Valkey cache hits.",
                "schema": { "type": "string", "example": "42" }
              },
              "Cache-Control": {
                "description": "Standard caching directives (RFC 7234 + RFC 5861). ``max-age`` reflects the staleness threshold in seconds. ``stale-while-revalidate`` is present when a background refresh is in-flight, indicating how long stale data may still be served.",
                "schema": {
                  "type": "string",
                  "example": "public, max-age=86400, stale-while-revalidate=60"
                }
              },
              "X-Cache-Status": {
                "description": "Indicates whether the response was served from a fresh cache entry (``hit``) or a stale one while a background refresh is in-flight (``stale``).",
                "schema": {
                  "type": "string",
                  "enum": ["hit", "stale"],
                  "example": "hit"
                }
              }
            }
          },
          "404": {
            "description": "Player Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PlayerNotFoundError" }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "1" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrorMessage"
                }
              }
            }
          },
          "503": {
            "description": "Blizzard Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "5" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardRateLimitErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorMessage"
                }
              }
            }
          },
          "504": {
            "description": "Blizzard Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/players/{player_id}/stats": {
      "get": {
        "tags": ["🎮 Players"],
        "summary": "Get player stats with labels",
        "description": "This endpoint exposes the same data as the previous one, except it also exposes labels of the categories and statistics.<br />**Cache TTL : 10 minutes.**",
        "operationId": "get_player_stats",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player unique name",
              "description": "Identifier of the player : BattleTag (with \"#\" replaced by \"-\"). You can also put your username if you're the only one using it on Blizzard. Be careful, letter case (capital/non-capital letters) is important !",
              "examples": ["TeKrop-2217", "TeKrop"]
            },
            "description": "Identifier of the player : BattleTag (with \"#\" replaced by \"-\"). You can also put your username if you're the only one using it on Blizzard. Be careful, letter case (capital/non-capital letters) is important !"
          },
          {
            "name": "gamemode",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PlayerGamemode",
              "title": "Gamemode",
              "description": "Filter on a specific gamemode.",
              "examples": ["competitive"]
            },
            "description": "Filter on a specific gamemode."
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PlayerPlatform",
              "title": "Platform",
              "description": "Filter on a specific platform. If not specified, the only platform the player played on will be selected. If the player has already played on both PC and console, the PC stats will be displayed by default.",
              "examples": ["pc"]
            },
            "description": "Filter on a specific platform. If not specified, the only platform the player played on will be selected. If the player has already played on both PC and console, the PC stats will be displayed by default."
          },
          {
            "name": "hero",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/HeroKeyCareerFilter",
              "title": "Hero key",
              "description": "Filter on a specific hero in order to only get his statistics. You also can specify 'all-heroes' for general stats."
            },
            "description": "Filter on a specific hero in order to only get his statistics. You also can specify 'all-heroes' for general stats."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CareerStats" }
              }
            },
            "headers": {
              "X-Cache-TTL": {
                "description": "The TTL value for the cached response, in seconds",
                "schema": { "type": "string", "example": "600" }
              },
              "Age": {
                "description": "Number of seconds since the response payload was generated (RFC 7234 §5.1). Present on FastAPI-served responses; also set by nginx for Valkey cache hits.",
                "schema": { "type": "string", "example": "42" }
              },
              "Cache-Control": {
                "description": "Standard caching directives (RFC 7234 + RFC 5861). ``max-age`` reflects the staleness threshold in seconds. ``stale-while-revalidate`` is present when a background refresh is in-flight, indicating how long stale data may still be served.",
                "schema": {
                  "type": "string",
                  "example": "public, max-age=86400, stale-while-revalidate=60"
                }
              },
              "X-Cache-Status": {
                "description": "Indicates whether the response was served from a fresh cache entry (``hit``) or a stale one while a background refresh is in-flight (``stale``).",
                "schema": {
                  "type": "string",
                  "enum": ["hit", "stale"],
                  "example": "hit"
                }
              }
            }
          },
          "404": {
            "description": "Player Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PlayerNotFoundError" }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "1" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrorMessage"
                }
              }
            }
          },
          "503": {
            "description": "Blizzard Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "5" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardRateLimitErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorMessage"
                }
              }
            }
          },
          "504": {
            "description": "Blizzard Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/players/{player_id}": {
      "get": {
        "tags": ["🎮 Players"],
        "summary": "Get all player data",
        "description": "Get all player data : summary and statistics with labels.<br />**Cache TTL : 10 minutes.**",
        "operationId": "get_player_career",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player unique name",
              "description": "Identifier of the player : BattleTag (with \"#\" replaced by \"-\"). You can also put your username if you're the only one using it on Blizzard. Be careful, letter case (capital/non-capital letters) is important !",
              "examples": ["TeKrop-2217", "TeKrop"]
            },
            "description": "Identifier of the player : BattleTag (with \"#\" replaced by \"-\"). You can also put your username if you're the only one using it on Blizzard. Be careful, letter case (capital/non-capital letters) is important !"
          },
          {
            "name": "gamemode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/PlayerGamemode" },
                { "type": "null" }
              ],
              "title": "Gamemode",
              "description": "Filter on a specific gamemode. All gamemodes are displayed by default.",
              "examples": ["competitive"]
            },
            "description": "Filter on a specific gamemode. All gamemodes are displayed by default."
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                { "$ref": "#/components/schemas/PlayerPlatform" },
                { "type": "null" }
              ],
              "title": "Platform",
              "description": "Filter on a specific platform. All platforms are displayed by default.",
              "examples": ["pc"]
            },
            "description": "Filter on a specific platform. All platforms are displayed by default."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Player" }
              }
            },
            "headers": {
              "X-Cache-TTL": {
                "description": "The TTL value for the cached response, in seconds",
                "schema": { "type": "string", "example": "600" }
              },
              "Age": {
                "description": "Number of seconds since the response payload was generated (RFC 7234 §5.1). Present on FastAPI-served responses; also set by nginx for Valkey cache hits.",
                "schema": { "type": "string", "example": "42" }
              },
              "Cache-Control": {
                "description": "Standard caching directives (RFC 7234 + RFC 5861). ``max-age`` reflects the staleness threshold in seconds. ``stale-while-revalidate`` is present when a background refresh is in-flight, indicating how long stale data may still be served.",
                "schema": {
                  "type": "string",
                  "example": "public, max-age=86400, stale-while-revalidate=60"
                }
              },
              "X-Cache-Status": {
                "description": "Indicates whether the response was served from a fresh cache entry (``hit``) or a stale one while a background refresh is in-flight (``stale``).",
                "schema": {
                  "type": "string",
                  "enum": ["hit", "stale"],
                  "example": "hit"
                }
              }
            }
          },
          "404": {
            "description": "Player Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PlayerNotFoundError" }
              }
            }
          },
          "429": {
            "description": "API Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "1" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitErrorMessage"
                }
              }
            }
          },
          "503": {
            "description": "Blizzard Rate Limit Error",
            "headers": {
              "Retry-After": {
                "description": "Indicates how long to wait before making a new request",
                "schema": { "type": "string", "example": "5" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardRateLimitErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorMessage"
                }
              }
            }
          },
          "504": {
            "description": "Blizzard Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlizzardErrorMessage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Ability": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the ability",
            "examples": ["Combat Roll"]
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "Description of the ability",
            "examples": ["Roll in the direction you're moving and reload."]
          },
          "icon": {
            "type": "string",
            "maxLength": 2083,
            "minLength": 1,
            "format": "uri",
            "title": "Icon",
            "description": "Icon URL of the ability",
            "examples": [
              "https://d15f34w2p8l1cc.cloudfront.net/overwatch/24a3f2f619859812bba6b6374513fa971b6b19ccb34950c02118b41cc4f93142.png"
            ]
          },
          "video": {
            "$ref": "#/components/schemas/AbilityVideo",
            "description": "Video of the ability"
          }
        },
        "type": "object",
        "required": ["name", "description", "icon", "video"],
        "title": "Ability"
      },
      "AbilityVideo": {
        "properties": {
          "thumbnail": {
            "type": "string",
            "maxLength": 2083,
            "minLength": 1,
            "format": "uri",
            "title": "Thumbnail",
            "description": "Thumbnail of the ability video",
            "examples": [
              "https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt08db01a1d84b0c3b/6333c97e3922a2677fc88c3c/CASSIDY_COMBAT_ROLL.jpg"
            ]
          },
          "link": {
            "$ref": "#/components/schemas/AbilityVideoLink",
            "description": "Link to the ability video"
          }
        },
        "type": "object",
        "required": ["thumbnail", "link"],
        "title": "AbilityVideo"
      },
      "AbilityVideoLink": {
        "properties": {
          "mp4": {
            "type": "string",
            "maxLength": 2083,
            "minLength": 1,
            "format": "uri",
            "title": "Mp4",
            "description": "MP4 version",
            "examples": [
              "https://assets.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/blt71688da0f7834fed/6333c9882dc7636608cc7078/OVERWATCH_WEBSITE_CHARACTER_CAPTURE_CassidyPeacekeeper_WEB_16x9_1920x1080p30_H264.mp4"
            ]
          },
          "webm": {
            "type": "string",
            "maxLength": 2083,
            "minLength": 1,
            "format": "uri",
            "title": "Webm",
            "description": "WebM version",
            "examples": [
              "https://assets.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltcff86b9875852be9/6333c9873917977bfd986103/OVERWATCH_WEBSITE_CHARACTER_CAPTURE_CassidyPeacekeeper_WEB_16x9_1920x1080p30_H264.webm"
            ]
          }
        },
        "type": "object",
        "required": ["mp4", "webm"],
        "title": "AbilityVideoLink"
      },
      "AverageStatsSummary": {
        "properties": {
          "eliminations": {
            "type": "number",
            "minimum": 0.0,
            "title": "Eliminations",
            "description": "Average eliminations per 10 minutes"
          },
          "assists": {
            "type": "number",
            "minimum": 0.0,
            "title": "Assists",
            "description": "Average assists per 10 minutes"
          },
          "deaths": {
            "type": "number",
            "minimum": 0.0,
            "title": "Deaths",
            "description": "Average deaths per 10 minutes"
          },
          "damage": {
            "type": "number",
            "minimum": 0.0,
            "title": "Damage",
            "description": "Average damage done per 10 minutes"
          },
          "healing": {
            "type": "number",
            "minimum": 0.0,
            "title": "Healing",
            "description": "Average healing done per 10 minutes"
          }
        },
        "type": "object",
        "required": ["eliminations", "assists", "deaths", "damage", "healing"],
        "title": "AverageStatsSummary"
      },
      "BackgroundImageSize": {
        "type": "string",
        "enum": ["min", "xs", "sm", "md", "lg", "xl+"],
        "title": "BackgroundImageSize",
        "description": "Responsive breakpoint sizes for hero background images"
      },
      "BadRequestErrorMessage": {
        "properties": {
          "error": {
            "type": "string",
            "title": "Error",
            "description": "Message describing the error",
            "examples": [
              "Selected map 'hanaoka' is not compatible with 'competitive' gamemode."
            ]
          }
        },
        "type": "object",
        "required": ["error"],
        "title": "BadRequestErrorMessage"
      },
      "BlizzardErrorMessage": {
        "properties": {
          "error": {
            "type": "string",
            "title": "Error",
            "description": "Message describing the error",
            "examples": [
              "Couldn't get Blizzard page (HTTP 503 error) : Service Unavailable"
            ]
          }
        },
        "type": "object",
        "required": ["error"],
        "title": "BlizzardErrorMessage"
      },
      "BlizzardRateLimitErrorMessage": {
        "properties": {
          "error": {
            "type": "string",
            "title": "Error",
            "description": "Message describing the Blizzard rate limit error and number of seconds before retrying",
            "examples": [
              "Blizzard is temporarily rate limiting this API. Please retry after 5 seconds."
            ]
          }
        },
        "type": "object",
        "required": ["error"],
        "title": "BlizzardRateLimitErrorMessage"
      },
      "CareerStatCategory": {
        "type": "string",
        "enum": [
          "assists",
          "average",
          "best",
          "combat",
          "game",
          "hero_specific",
          "match_awards",
          "miscellaneous"
        ],
        "title": "CareerStatCategory",
        "description": "Categories of general statistics displayed in the players API"
      },
      "CareerStats": {
        "properties": {
          "all-heroes": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "All-Heroes",
            "description": "Total of statistics for all heroes"
          },
          "ana": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Ana",
            "description": "Career statistics for Ana"
          },
          "anran": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Anran",
            "description": "Career statistics for Anran"
          },
          "ashe": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Ashe",
            "description": "Career statistics for Ashe"
          },
          "baptiste": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Baptiste",
            "description": "Career statistics for Baptiste"
          },
          "bastion": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Bastion",
            "description": "Career statistics for Bastion"
          },
          "brigitte": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Brigitte",
            "description": "Career statistics for Brigitte"
          },
          "cassidy": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Cassidy",
            "description": "Career statistics for Cassidy"
          },
          "dva": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Dva",
            "description": "Career statistics for D.Va"
          },
          "domina": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Domina",
            "description": "Career statistics for Domina"
          },
          "doomfist": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Doomfist",
            "description": "Career statistics for Doomfist"
          },
          "echo": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Echo",
            "description": "Career statistics for Echo"
          },
          "emre": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Emre",
            "description": "Career statistics for Emre"
          },
          "freja": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Freja",
            "description": "Career statistics for Freja"
          },
          "genji": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Genji",
            "description": "Career statistics for Genji"
          },
          "hazard": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Hazard",
            "description": "Career statistics for Hazard"
          },
          "hanzo": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Hanzo",
            "description": "Career statistics for Hanzo"
          },
          "illari": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Illari",
            "description": "Career statistics for Illari"
          },
          "jetpack-cat": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Jetpack-Cat",
            "description": "Career statistics for Jetpack Cat"
          },
          "junker-queen": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Junker-Queen",
            "description": "Career statistics for Junker Queen"
          },
          "junkrat": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Junkrat",
            "description": "Career statistics for Junkrat"
          },
          "juno": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Juno",
            "description": "Career statistics for Juno"
          },
          "kiriko": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Kiriko",
            "description": "Career statistics for Kiriko"
          },
          "lifeweaver": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Lifeweaver",
            "description": "Career statistics for Lifeweaver"
          },
          "lucio": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Lucio",
            "description": "Career statistics for Lúcio"
          },
          "mauga": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Mauga",
            "description": "Career statistics for Mauga"
          },
          "mei": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Mei",
            "description": "Career statistics for Mei"
          },
          "mercy": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Mercy",
            "description": "Career statistics for Mercy"
          },
          "mizuki": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Mizuki",
            "description": "Career statistics for Mizuki"
          },
          "moira": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Moira",
            "description": "Career statistics for Moira"
          },
          "orisa": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Orisa",
            "description": "Career statistics for Orisa"
          },
          "pharah": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Pharah",
            "description": "Career statistics for Pharah"
          },
          "ramattra": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Ramattra",
            "description": "Career statistics for Ramattra"
          },
          "reaper": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Reaper",
            "description": "Career statistics for Reaper"
          },
          "reinhardt": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Reinhardt",
            "description": "Career statistics for Reinhardt"
          },
          "roadhog": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Roadhog",
            "description": "Career statistics for Roadhog"
          },
          "sigma": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Sigma",
            "description": "Career statistics for Sigma"
          },
          "sierra": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Sierra",
            "description": "Career statistics for Sierra"
          },
          "sojourn": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Sojourn",
            "description": "Career statistics for Sojourn"
          },
          "soldier-76": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Soldier-76",
            "description": "Career statistics for Soldier: 76"
          },
          "sombra": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Sombra",
            "description": "Career statistics for Sombra"
          },
          "symmetra": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Symmetra",
            "description": "Career statistics for Symmetra"
          },
          "torbjorn": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Torbjorn",
            "description": "Career statistics for Torbjörn"
          },
          "tracer": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Tracer",
            "description": "Career statistics for Tracer"
          },
          "vendetta": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Vendetta",
            "description": "Career statistics for Vendetta"
          },
          "venture": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Venture",
            "description": "Career statistics for Venture"
          },
          "widowmaker": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Widowmaker",
            "description": "Career statistics for Widowmaker"
          },
          "winston": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Winston",
            "description": "Career statistics for Winston"
          },
          "wrecking-ball": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Wrecking-Ball",
            "description": "Career statistics for Wrecking Ball"
          },
          "wuyang": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Wuyang",
            "description": "Career statistics for Wuyang"
          },
          "zarya": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Zarya",
            "description": "Career statistics for Zarya"
          },
          "zenyatta": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/HeroCareerStats" },
                "type": "array",
                "minItems": 1
              },
              { "type": "null" }
            ],
            "title": "Zenyatta",
            "description": "Career statistics for Zenyatta"
          }
        },
        "type": "object",
        "title": "CareerStats",
        "example": {
          "all-heroes": [
            {
              "category": "best",
              "label": "Best",
              "stats": [
                {
                  "key": "eliminations_most_in_game",
                  "label": "Eliminations - Most in Game",
                  "value": 22
                },
                {
                  "key": "final_blows_most_in_game",
                  "label": "Final Blows - Most in Game",
                  "value": 10
                },
                {
                  "key": "all_damage_done_most_in_game",
                  "label": "All Damage Done - Most in Game",
                  "value": 25326
                },
                {
                  "key": "healing_done_most_in_game",
                  "label": "Healing Done - Most in Game",
                  "value": 8196
                },
                {
                  "key": "defensive_assists_most_in_game",
                  "label": "Defensive Assists - Most in Game",
                  "value": 15
                },
                {
                  "key": "offensive_assists_most_in_game",
                  "label": "Offensive Assists - Most in Game",
                  "value": 11
                },
                {
                  "key": "objective_kills_most_in_game",
                  "label": "Objective Kills - Most in Game",
                  "value": 7
                },
                {
                  "key": "objective_time_most_in_game",
                  "label": "Objective Time - Most in Game",
                  "value": 281
                },
                {
                  "key": "multikill_best",
                  "label": "Multikill - Best",
                  "value": 3
                },
                {
                  "key": "solo_kills_most_in_game",
                  "label": "Solo Kills - Most in Game",
                  "value": 10
                },
                {
                  "key": "time_spent_on_fire_most_in_game",
                  "label": "Time Spent on Fire - Most in Game",
                  "value": 88
                },
                {
                  "key": "environmental_kills_most_in_game",
                  "label": "Environmental Kill - Most in Game",
                  "value": 1
                },
                {
                  "key": "kill_streak_best",
                  "label": "Kill Streak - Best",
                  "value": 7
                },
                {
                  "key": "hero_damage_done_most_in_game",
                  "label": "Hero Damage Done - Most in Game",
                  "value": 17735
                },
                {
                  "key": "barrier_damage_done_most_in_game",
                  "label": "Barrier Damage Done - Most in Game",
                  "value": 7544
                },
                {
                  "key": "assists_most_in_game",
                  "label": "Assists - Most in Game",
                  "value": 16
                },
                {
                  "key": "objective_contest_time_most_in_game",
                  "label": "Objective Contest Time - Most in Game",
                  "value": 155
                }
              ]
            },
            {
              "category": "average",
              "label": "Average",
              "stats": [
                {
                  "key": "hero_damage_done_avg_per_10_min",
                  "label": "Hero Damage Done - Avg per 10 Min",
                  "value": 7289
                },
                {
                  "key": "deaths_avg_per_10_min",
                  "label": "Deaths - Avg per 10 Min",
                  "value": 6.41
                },
                {
                  "key": "eliminations_avg_per_10_min",
                  "label": "Eliminations - Avg per 10 Min",
                  "value": 10.9
                },
                {
                  "key": "assists_avg_per_10_min",
                  "label": "Assists - Avg per 10 min",
                  "value": 7.48
                },
                {
                  "key": "healing_done_avg_per_10_min",
                  "label": "Healing Done - Avg per 10 Min",
                  "value": 2715
                },
                {
                  "key": "objective_kills_avg_per_10_min",
                  "label": "Objective Kills - Avg per 10 Min",
                  "value": 4.7
                },
                {
                  "key": "objective_time_avg_per_10_min",
                  "label": "Objective Time - Avg per 10 Min",
                  "value": 89
                },
                {
                  "key": "final_blows_avg_per_10_min",
                  "label": "Final Blows - Avg per 10 Min",
                  "value": 3.85
                },
                {
                  "key": "objective_contest_time_avg_per_10_min",
                  "label": "Objective Contest Time - Avg per 10 Min",
                  "value": 50
                }
              ]
            },
            {
              "category": "game",
              "label": "Game",
              "stats": [
                { "key": "time_played", "label": "Time Played", "value": 2807 },
                { "key": "games_played", "label": "Games Played", "value": 5 },
                { "key": "games_won", "label": "Game Won", "value": 1 },
                { "key": "games_lost", "label": "Games Lost", "value": 4 },
                { "key": "hero_wins", "label": "Hero Win", "value": 1 }
              ]
            },
            {
              "category": "combat",
              "label": "Combat",
              "stats": [
                {
                  "key": "damage_done",
                  "label": "Damage Done",
                  "value": 34098
                },
                {
                  "key": "hero_damage_done",
                  "label": "Hero Damage Done",
                  "value": 34098
                },
                { "key": "deaths", "label": "Deaths", "value": 30 },
                { "key": "eliminations", "label": "Eliminations", "value": 51 },
                {
                  "key": "objective_kills",
                  "label": "Objective Kills",
                  "value": 22
                },
                { "key": "final_blows", "label": "Final Blows", "value": 18 },
                {
                  "key": "objective_time",
                  "label": "Objective Time",
                  "value": 418
                },
                { "key": "multikills", "label": "Multikill", "value": 1 },
                {
                  "key": "environmental_kills",
                  "label": "Environmental Kill",
                  "value": 1
                },
                {
                  "key": "objective_contest_time",
                  "label": "Objective Contest Time",
                  "value": 233
                }
              ]
            },
            {
              "category": "assists",
              "label": "Assists",
              "stats": [
                { "key": "assists", "label": "Assists", "value": 35 },
                {
                  "key": "healing_done",
                  "label": "Healing Done",
                  "value": 12703
                },
                {
                  "key": "defensive_assists",
                  "label": "Defensive Assists",
                  "value": 29
                },
                {
                  "key": "offensive_assists",
                  "label": "Offensive Assists",
                  "value": 21
                }
              ]
            }
          ],
          "ana": [
            {
              "category": "hero_specific",
              "label": "Hero Specific",
              "stats": [
                {
                  "key": "scoped_accuracy_best_in_game",
                  "label": "Scoped Accuracy - Best in Game",
                  "value": 45
                },
                {
                  "key": "self_healing",
                  "label": "Self Healing",
                  "value": 577
                },
                {
                  "key": "self_healing_most_in_game",
                  "label": "Self Healing - Most in Game",
                  "value": 300
                },
                {
                  "key": "enemies_slept",
                  "label": "Enemies Slept",
                  "value": 4
                },
                {
                  "key": "nano_boost_assists",
                  "label": "Nano Boost Assists",
                  "value": 8
                },
                {
                  "key": "unscoped_accuracy_best_in_game",
                  "label": "Unscoped Accuracy - Best in Game",
                  "value": 55
                },
                {
                  "key": "enemies_slept_most_in_game",
                  "label": "Enemies Slept - Most in Game",
                  "value": 3
                },
                {
                  "key": "nano_boost_assists_most_in_game",
                  "label": "Nano Boost Assists - Most in Game",
                  "value": 7
                },
                {
                  "key": "biotic_grenade_kills",
                  "label": "Biotic Grenade Kills",
                  "value": 9
                },
                {
                  "key": "damage_amplified",
                  "label": "Damage Amplified",
                  "value": 862
                },
                {
                  "key": "damage_amplified_most_in_game",
                  "label": "Damage Amplified - Most in Game",
                  "value": 741
                },
                {
                  "key": "healing_amplified",
                  "label": "Healing Amplified",
                  "value": 647
                },
                {
                  "key": "healing_amplified_most_in_game",
[...]
